body{
	font-family: 'Open Sans', sans-serif;
	color:#444;
	/*A4 pagelook*/
	width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 10px auto;
    border: 1px #D3D3D3 solid;
    border-radius: 1px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

}
h1, h2, h3, h4, h5{
	text-transform: uppercase;
}
.ult{
	text-decoration: underline;
}
